body{
    margin:0;
    font-family:'Lato';
}

.top-header{
    background-color: dodgerblue;
    width:100%;
    height: 30px;
    padding-top: 10px;

}
.container{
    width:1100px;
    margin: auto;
    color:#ffffff;
    font-size:16px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.social{
    float:right;

}
ul#headlist{
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul#headlist>li{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;

}
ul#headlist>li:hover{
    color: #ffff29;
}
.navbar{
    width:100%;
    height:120px;
}
.nav-menu{
    width: 1100px;
    height: 120px;
    margin: auto;
    text-align: center;

}
ul#navlist {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul#navlist>li{

    float: left;
    padding-top: 50px;
    width: 170px;
    height: 70px;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
}
ul#navlist>li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ul#navlist>li > ul > li{
    padding-top: 40px;
    position: relative;
    height: 50px;
}
ul#navlist>li:hover >ul{
    display: block;
}
ul#navlist>li>ul>li:hover {
    background-color: powderblue;
}