
.icon-mail:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */